{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}


{% block main %}


    <div class="d-flex justify-content-center p-4"><h1><i class="fa-solid fa-house p-2 "></i>Bienvenue à Arcadia</h1></div>

    <section>
    <div class="container-flex p-4 mb-auto ">
    <p>
        Bienvenue dans le projet du Zoo d'Arcadia, une initiative passionnante visant à créer une expérience interactive et éducative pour les passionnés de la faune et de la nature. Situé au cœur de la magnifique forêt de Brocéliande en Bretagne depuis 1960,
        le Zoo d'Arcadia est bien plus qu'un simple parc animalier : c'est un sanctuaire de biodiversité, un centre de recherche et d'éducation, et un lieu de préservation dévoué à la sauvegarde des espèces menacées. Au fil des décennies,
        le Zoo d'Arcadia a évolué pour devenir un pilier de la communauté, offrant aux visiteurs une expérience immersive au sein de différents habitats naturels du monde entier, de la majestueuse savane africaine à la luxuriante jungle amazonienne.
        Grâce à nos installations modernes et à notre engagement envers le bien-être animal, nous offrons à nos résidents des environnements stimulants et respectueux de leur habitat naturel. Dans le cadre de notre mission de conservation,
        nous travaillons en étroite collaboration avec des organismes de protection de la faune et des institutions de recherche pour préserver la diversité biologique de notre planète. De la reproduction en captivité à la réintroduction dans la nature,
        notre équipe de spécialistes dévoués travaille sans relâche pour assurer un avenir durable aux espèces menacées. À travers ce projet, nous vous invitons à explorer les coulisses du Zoo d'Arcadia, à découvrir nos résidents fascinants,
        à en apprendre davantage sur nos programmes de conservation et à vous engager dans notre mission de protection de la vie sauvage. Bienvenue dans notre monde, où la nature est au premier plan et où chaque visite est une aventure inoubliable.
    </p>
    </div>
    </section>
    <div>
        {% include 'partials/_homecaroussel.html.twig' %}
    </div>
    <div>
        {% include 'partials/_avis.html.twig' %}
    </div>
    </main>
{% endblock %}

