{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <h1><i class="fa-solid fa-house p-2"></i>Bienvenue à Arcadia</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
    </p>
{% endblock %}
