{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}


{% block main %}


    <div class="d-flex justify-content-center p-4"><h1><i class="fa-solid fa-house p-2 "></i>Bienvenue à Arcadia</h1></div>

    <section>
    <div class="container-flex p-4 mb-auto">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi consectetur consequuntur delectus doloremque excepturi id illo magnam magni minima mollitia officiis omnis quasi quo, repudiandae, sapiente velit veniam veritatis?
      
    </p>
    </div>
    </section>
    </main>
{% endblock %}

