{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

{% block body %}
    <h1><i class="fa-solid fa-envelope p-2"></i>Nous contacter</h1>
{{ form_start(form) }}
    <div class="row">
        <div class="col-sm">{{ form_row(form.name) }}</div>
        <div class="col-sm">{{ form_row(form.email) }}</div>
    </div>
{{ form_end(form)}}


{% endblock %}

