{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

{% block main %}
    <div class="container-fluid my-4">
    <h1><i class="fa-solid fa-envelope p-2"></i>Nous contacter</h1>
{{ form_start(form) }}
    <div class="row">
        <div class="col-lg col-sm-12">{{ form_row(form.name) }}</div>
        <div class="col-lg col-sm">{{ form_row(form.email) }}</div>
    </div>
{{ form_end(form)}}
    </div>
{% endblock %}

