{% extends 'admin/admin.html.twig' %}

{% block title %}Admin - Creation d'un service{% endblock %}

{% block body %}
    <h1>Creation d'un service</h1>
    {{ form(form) }}
    <a class="btn btn-danger btn-sm" href="{{ path('admin.service.index')}}">Retour</a>

{% endblock %}