{% extends 'admin/admin.html.twig' %}

{% block title %}Admin - Edition d'un animal{% endblock %}

{% block main %}
    <h1>Editer l'animal</h1>
    {{ form(form) }}
    <a class="btn btn-danger btn-sm" href="{{ path('admin.animal.index')}}">Retour</a>
{% endblock %}